*.iml
.gradle
local.properties
/.idea
.DS_Store
build/
/captures
.externalNativeBuild
.cxx
sample/iosApp/Podfile.lock
sample/iosApp/Pods/*
sample/iosApp/iosApp.xcworkspace/*
sample/iosApp/iosApp.xcodeproj/*
!sample/iosApp/iosApp.xcodeproj/project.pbxproj
shared/shared.podspec
xcuserdata/
*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
**/xcshareddata/WorkspaceSettings.xcsettings

/sample/iosAppEntry/iosAppEntry.xcodeproj/project.xcworkspace/
/sample/iosAppEntry/iosAppEntry.xcodeproj/project.xcworkspace/xcuserdata/
/sample/iosAppEntry/iosAppEntry.xcodeproj/xcuserdata/
